/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #588f99;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  margin-top: 50px;
  vertical-align: center;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  color: #edeae5;
}

button1{
  padding: 10px 43px;
  border-radius: 24px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #cfb043;
  border-color: #cfb043;
  text-align: center;
  object-position: center;
  justify-content: center;
  display:inline-block;
}

button2{
  padding: 10px 30px;
  border-radius: 24px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #314d52;
  background-color: #fce181;
  border-color: #fce181;
  text-align: center;
  object-position: center;
  justify-content: center;
}

button3{
  padding: 10px 53px;
  border-radius: 24px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #6A737A;
  background-color: #edeae5;
  border-color: #edeae5;
  text-align: center;
  object-position: center;
  justify-content: center;
  margin: 0 auto;
}